@font-face {
    font-weight: 400;
    font-family: "SuisseIntl-Regular";
    src: url("fonts/Suisse Intl/SuisseIntl-Regular.otf");
}

@font-face {
    font-weight: 800;
    font-family: "SuisseIntl-SemiBold";
    src: url("fonts/Suisse Intl/SuisseIntl-SemiBold.otf");
}

@font-face {
    font-weight: 200;
    font-family: "SuisseIntl-Light";
    src: url("fonts/Suisse Intl/SuisseIntl-Light.otf");
}

body{
    background-color: #F1F1F1;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    font-family: "SuisseIntl-Regular", serif;
    text-transform: uppercase;
}

b{
    font-family: "SuisseIntl-SemiBold", serif;
}

span, h1{
    text-transform: uppercase;
    font-family: "SuisseIntl-Light", serif;
}

/*header*/

header{
    position: sticky;
    top: 0;
    border-bottom: solid #cecece 1px;
    padding: 28px 40px 28px 40px;
    background-color: #F1F1F1;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

}

li{
    width: 25%;
    list-style-type: none;
    font-size: 16px;
}

li:nth-child(3), li:nth-child(4){
    text-align: end;
}

header > a{
    position: absolute;
    top: 40px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*main*/

main{
    margin-top: 47px;
    padding: 0 40px;
    z-index: -1;
}

.back{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left{
    width: 50%;
    margin-bottom: 73px;
}

.pic1 {
    background: url(img/pic1.svg) no-repeat;
    background-size: 100%;
    padding: 40px 0 40px 40px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.pic1 img{
    max-width: 40px;
}

.pic1 span{
    margin: 42.3% 0 30.3%;
    color: white;
}

.right{
    width: 50%;
    display: flex;
}

.right > div {
    width: 50%;
}

.right__first{
    display: flex;
    align-items: end;
    padding-left: 12px;
    padding-bottom: 73px;
}

.right__first a{
    font-size: 14px;
}

.right__second{
    height: 100%;
}

.right__second span{
    font-size: 32px;
}

.pic2 {
    background: url(img/pic2.svg) no-repeat;
    background-size: 100%;
    margin-top: 60%;
    height: 54%;
    padding-bottom: 96%;
}

.pic2 button{

}

/*footer*/

footer{
    background-color: black;
    padding: 36px 0;
    color: white;
}

.marquee {
    position: relative;
    overflow: hidden;
    --offset: 2vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
    white-space: nowrap;
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}

.marquee__content {
    padding: 0 4vw;
}

.marquee .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
